{{ define "main" }}
<main class="mx-auto my-4 max-w-[650px] px-3">
  <h1 class="text-2xl font-semibold font-sans">{{ .Title }}</h1>
  {{ .Content }}
  <ul class="list-none">
    {{ range .Data.Pages }}
      <li class="leading-normal flex justify-between space-y-1">
        <a href="{{ .Permalink | relURL }}" class="text-base no-underline text-inherit hover:text-[var(--color-body-text)]">{{ .Title }}</a>
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
      </li>
    {{ end }}
  </ul>
</main>
<div class="text-center block lg:fixed lg:bottom-2 lg:right-2 mb-3 lg:mb-0">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}
