{{ define "main" }}
<main class="mx-auto my-8 max-w-[650px]">
  <h1 class="text-3xl font-semibold font-sans mb-5">
    <span class="text-gray-400">#</span> {{ .Data.Term }}
  </h1>
  {{ .Content }}
  <ul class="list-none">
    {{ range .Data.Pages }}
      <li class="leading-relaxed flex justify-between">
        <a href="{{ .Permalink | relURL }}" class="no-underline text-base text-inherit hover:text-[var(--color-neutral-accent)]">{{ .Title }}</a>
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
      </li>
    {{ end }}
  </ul>
</main>
<div class="text-center block lg:fixed lg:bottom-8 lg:right-8 mb-4 lg:mb-0">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}
