<nav class="flex justify-between box-border p-3 pl-3 lg:pl-3 pr-2 lg:pr-2 mt-1 md:mt-0" id="navbar">
  <div class="flex space-x-5">
    <span class="text-white">
      <a
        id="site-title"
        class="text-lg font-semibold uppercase no-underline hover:opacity-80 bg-[var(--color-main)] py-1 px-2 rounded text-white"
        href='{{ "" | relURL }}'
        title='{{ .Site.Title }}'
      >
        {{ .Site.Title }}
      </a>
    </span>

    {{ with .Site.Menus.main }}
    <div class="hidden md:flex md:space-x-3 mt-2 md:mt-0 py-1 font-bold">
      {{ range . }}
      <a class="hover:opacity-80 text-gray-700 text-sm inline-block uppercase tracking-wide" href='{{ .URL }}' title="{{ .Name }}">{{ .Name }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>

  {{ if .Site.Params.search | default true }}
  {{ partial "search.html" }}
  {{ end }}
</nav>
