<div class="flex mx-4 relative" x-data="{ searchbar: false, searchterm: '', searchresults: [], index: createIndex() }">
  <button
    type="button"
    class="flex flex-row gap-3 py-1.5 px-3 outline-0 text-sm rounded md:relative border border-solid border-[var(--color-border)] text-[var(--color-body-text)] bg-[var(--color-border)] caret-[var(--color-body-text)] hover:border-[var(--color-background-alt)] focus:border-[var(--color-main-light)] placeholder:text-[var(--color-neutral-accent)] items-center justify-between"
    @click="searchbar = true"
  >
    <div class="flex flex-row gap-1 items-center text-[var(--color-neutral-accent)]">
      <!-- search icon -->
      <svg class="pointer-events-none font-semibold h-4 w-4" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
      </svg>
      <span class="">Search</span>
    </div>

    <span class="text-xs flex flex-row text-center gap-1 items-center">
      <kbd class="px-1.5 py-0.5 rounded border border-[var(--color-border)] bg-[var(--color-background-alt)] font-semibold">Ctrl</kbd>
      <kbd class="px-1.5 py-0.5 rounded border border-[var(--color-border)] bg-[var(--color-background-alt)] font-semibold">K</kbd>
    </span>
  </button>

  <div
    class="relative z-10"
    role="dialog"
    aria-modal="searchbar"
    @keydown.ctrl.k.prevent.document="searchbar = true"
    @keydown.meta.k.prevent.document="searchbar = true"
    @keydown.escape.document="searchbar = false"
    :class="searchbar ? '' : 'hidden'"
    x-cloak
  >
    <!-- Background backdrop, show/hide based on modal state. -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-50"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20">
      <!-- Command palette, show/hide based on modal state. -->
      <div
        class="mx-auto max-w-3xl divide-y divide-[var(--color-border)] overflow-hidden rounded-xl bg-[var(--color-background)] shadow-2xl ring-1 ring-black ring-opacity-5"
        x-trap.inert.noscroll.noreturn="searchbar"
      >
        <div class="relative">
          <!-- search icon -->
          <svg class="pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-[var(--color-body-text)]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
          </svg>
          <input
            type="text"
            class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-[var(--color-body-text)] placeholder:text-[var(--color-neutral-accent)] focus:ring-0 sm:text-sm"
            placeholder="Search..."
            autocomplete="off"
            @keydown.debounce="searchterm = $event.target.value; searchresults = searchItems($event.target.value, index)"
          >
        </div>

        <!-- Results, show/hide based on command palette state. -->
        <ul
          class="max-h-[36rem] scroll-py-10 scroll-pb-2 overflow-y-auto p-0"
          :class="searchresults.length === 0 && searchterm.length > 0 ? 'hidden' : ''"
          x-ref="resultlist"
          @keydown.tab.document="$focus.wrap().next()"
        >
          <template x-for="item in searchresults">
            <li :key="item.id">
              <a :href="item.href" class="flex flex-col gap-2 text-base p-4 border-0 outline-0 hover:bg-[var(--color-border)] focus:bg-[var(--color-border)]">
                <div class="flex flex-row gap-2 text-[var(--color-heading-text)]">
                  <template x-if="item.type === 'note'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                    </svg>
                  </template>

                  <template x-if="item.type === 'blog'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-box-left-top w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                      <path d="M9 13h-2"></path>
                      <path d="M13 10h-6"></path>
                      <path d="M11 7h-4"></path>
                    </svg>
                  </template>

                  <template x-if="item.type === 'project'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                      <path d="M14.5 5.5l4 4"></path>
                      <path d="M12 8l-5 -5l-4 4l5 5"></path>
                      <path d="M7 8l-1.5 1.5"></path>
                      <path d="M16 12l5 5l-4 4l-5 -5"></path>
                      <path d="M16 17l-1.5 1.5"></path>
                    </svg>
                  </template>

                  <div x-text="item.title" class="font-semibold"></div>
                </div>

                <div x-text="item.summary" class="text-xs pl-8 text-[var(--color-neutral-accent)]"></div>
              </a>
            </li>
          </template>
        </ul>

        <!-- Empty state, show/hide based on command palette state. -->
        <div
          class="px-6 py-14 text-center text-sm sm:px-14"
          :class="searchresults.length === 0 && searchterm.length > 0 ? '' : 'hidden'"
        >
          <svg class="mx-auto h-6 w-6 text-[var(--color-body-text)]" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>

          <p class="mt-4 font-semibold text-[var(--color-body-text)]">No results found</p>
          <p class="mt-2 text-[var(--color-body-text)]">We couldn’t find anything with that term. Please try again.</p>
        </div>

        {{ partial "search-footer.html" }}
      </div>
    </div>
  </div>
</div>

<!-- import flexsearch before initialization -->
<script src="{{ "js/flexsearch-0.8.2.bundle.min.js" | absURL }}"></script>
<script>
  const SEARCH_LIMIT = 5

  // Initiate and register all contents from "/searchindex.json"
  const createIndex = () => {
    const index = new FlexSearch.Document({
      tokenize: "forward",
      cache: 100,
      document: {
        id: "id",
        store: ["href", "title", "summary", "type"],
        index: ["title", "summary", "content"],
      },
    })

    // built by template /layouts/_default/list.searchindex.json
    fetch("/searchindex.json")
      .then(resp => resp.json())
      .then(contentList => {
        contentList.forEach(content => {
          // console.log(content)
          index.add(content)
        })
        console.log("Indexed contents")
      })
      .catch(err => console.error(err))

    return index
  }

  const searchItems = (term, index) => {
    const results = index.search(term, SEARCH_LIMIT, { enrich: true })
    const dedup = {}

    for (const result of results.flatMap(r => r.result)) {
      if (!dedup[result.id]) dedup[result.id] = result.doc
    }

    return Object.values(dedup) || []
  }
</script>

