{{- $pagefindPath := "/pagefind/" | relURL -}}
<link rel="stylesheet" href="{{ "/pagefind/pagefind-component-ui.css" | relURL }}">

<div class="er-pagefind-search flex mx-4 relative" data-pagefind-ignore>
  <pagefind-config
    bundle-path="{{ $pagefindPath }}"
    base-url="{{ "" | relURL }}"
    excerpt-length="24"
  ></pagefind-config>

  <pagefind-modal-trigger
    placeholder="{{ T "search" }}"
    shortcut="mod+k"
  ></pagefind-modal-trigger>

  <pagefind-modal reset-on-close>
    <pagefind-modal-header>
      <pagefind-input
        placeholder="{{ T "searchPlaceholder" }}"
        debounce="150"
        autofocus
      ></pagefind-input>
    </pagefind-modal-header>

    <pagefind-modal-body>
      <pagefind-summary default-message=""></pagefind-summary>
      <pagefind-results max-results="5" hide-sub-results>
        <script type="text/pagefind-template">
          {{ `<li class="pf-result er-search-result">
  <a class="pf-result-card er-search-result-card pf-result-link" href="{{ meta.url | default(url) | safeUrl }}">
    <span class="er-search-result-heading">
      {{#if eq(meta.type, "note")}}
      <svg xmlns="http://www.w3.org/2000/svg" class="er-search-result-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
      </svg>
      {{/if}}
      {{#if eq(meta.type, "blog")}}
      <svg xmlns="http://www.w3.org/2000/svg" class="er-search-result-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
        <path d="M9 13h-2"></path>
        <path d="M13 10h-6"></path>
        <path d="M11 7h-4"></path>
      </svg>
      {{/if}}
      {{#if eq(meta.type, "project")}}
      <svg xmlns="http://www.w3.org/2000/svg" class="er-search-result-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
        <path d="M14.5 5.5l4 4"></path>
        <path d="M12 8l-5 -5l-4 4l5 5"></path>
        <path d="M7 8l-1.5 1.5"></path>
        <path d="M16 12l5 5l-4 4l-5 -5"></path>
        <path d="M16 17l-1.5 1.5"></path>
      </svg>
      {{/if}}
      <span class="pf-result-title er-search-result-title">{{ meta.title }}</span>
    </span>
    {{#if excerpt}}
    <span class="pf-result-excerpt er-search-result-excerpt">{{+ excerpt +}}</span>
    {{/if}}
  </a>
</li>` | safeHTML }}
        </script>
        <script type="text/pagefind-template" data-template="placeholder">
          {{ `<li class="pf-result er-search-result" aria-hidden="true">
  <div class="pf-result-card er-search-result-card">
    <span class="pf-result-title pf-skeleton pf-skeleton-title er-search-placeholder-title"></span>
    <span class="pf-result-excerpt pf-skeleton pf-skeleton-excerpt er-search-placeholder-excerpt"></span>
  </div>
</li>` | safeHTML }}
        </script>
      </pagefind-results>
    </pagefind-modal-body>

    <pagefind-modal-footer>
      <pagefind-keyboard-hints></pagefind-keyboard-hints>
    </pagefind-modal-footer>
  </pagefind-modal>
</div>

<script type="module" src="{{ "/pagefind/pagefind-component-ui.js" | relURL }}"></script>
