<div class="flex flex-row justify-between px-4 py-2.5 text-xs text-[var(--color-body-text)] bg-[var(--color-background)]">
  <span class="flex flex-wrap items-center">
    Type
    <kbd class="mx-1 flex h-5 w-8 items-center justify-center rounded border border-[var(--color-border)] bg-[var(--color-background)] font-semibold text-[var(--color-body-text)] sm:mx-2">
      ESP
    </kbd>
    to close search bar,
    <kbd class="mx-1 flex h-5 w-8 items-center justify-center rounded border border-[var(--color-border)] bg-[var(--color-background)] font-semibold text-[var(--color-body-text)] sm:mx-2">
      TAB
    </kbd>
    to iterate
  </span>

  <!-- <div class="flex flex-row gap-2">
       <span class="flex flex-row">
       <span>Note</span>
       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
       <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
       </svg>
       </span>

       <span class="flex flex-row gap-1">
       <span>Blog</span>
       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-box-left-top w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
       <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
       <path d="M9 13h-2"></path>
       <path d="M13 10h-6"></path>
       <path d="M11 7h-4"></path>
       </svg>
       </span>

       <span class="flex flex-row gap-1">
       <span>Project</span>
       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
       <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
       <path d="M14.5 5.5l4 4"></path>
       <path d="M12 8l-5 -5l-4 4l5 5"></path>
       <path d="M7 8l-1.5 1.5"></path>
       <path d="M16 12l5 5l-4 4l-5 -5"></path>
       <path d="M16 17l-1.5 1.5"></path>
       </svg>
       </span>
       </div> -->
</div>
