{{ $maxtags := .Site.Params.maxTags | default 50 }}
{{ if .Site.Params.showTagCloud | default true }}
<div class="hidden text-right fixed right-8 top-[100px] max-w-[250px] lg:block transition-opacity duration-500" id="tag-cloud">
    <a href="/tags" class="block text-xl !text-[var(--color-main)]">tags</a>
    {{ range first $maxtags .Site.Taxonomies.tags.ByCount }}
    <a class="text-gray-400 no-underline text-sm" href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}">{{ .Name }}</a></li>
  {{ end }}
</div>
{{ end }}
