{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
<main class="mx-auto my-4 max-w-[650px]">
  <ul class="list-none p-0">
    {{ range $paginator.Pages }}
    <li class="mb-2">
      <a class="text-lg text-[#383838] font-sans font-semibold no-underline" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="text-sm mt-1 text-gray-400">
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
        {{ if or .Params.tags .Params.categories }} | {{ end }}
        {{ if isset .Params "categories" }}
        categories: [ {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="border-b border-black/40 no-underline text-gray-400 hover:border-[#3d3d3d] hover:text-[#3d3d3d]">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="border-b border-black/40 no-underline text-gray-400 hover:border-[#3d3d3d] hover:text-[#3d3d3d]">{{ . }}</a> {{ end }} ]
        {{ end }}
      </p>
    </li>
    {{ end }}
  </ul>
</main>
{{ partial "tag_cloud.html" . }}
{{ partial "pagination.html" . }}
{{ end }}
